<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Maderna</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">

    <!-- Default Theme -->
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">

</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/Content/images/Marco_Top.png" /></a>
            </div>
            <div class="navbar-collapse collapse in">
                <ul class="nav navbar-nav">
                    <li><a class="menulink" href="/?Length=4">HOME</a></li>
                    <li><a class="menulink" href="/?Length=4">ABOUT</a></li>
                    <li><a class="menulink" href="/?Length=4">PRODUCTS</a></li>
                    <li><a class="menulink" href="/?Length=4">CONTACT</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <img src="~/Content/images/Marco_Bottom.png" />
            <div class="row grayfooter">
                <div class="col-md-12">
                    <div class="col-md-1"></div>

                    <div class="col-md-2">
                        © Copyright 2014
                    </div>

                    <div class="col-md-2">
                        MADERNA, S.A.
                    </div>

                    <div class="col-md-3">
                        Todos los derechos reservados
                    </div>

                    <div class="col-md-3">Síguenos en <a href="http://www.google.com"><img src="~/Content/Images/fb_icon.png" /></a><a href="http://www.google.com"><img src="~/Content/Images/tw_icon.png" /></a><a href="http://www.google.com"><img src="~/Content/Images/yt_icon.png" /></a></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/owl.carousel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#owl-example").owlCarousel({
                items: 3,
                center: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true,
                autoplay: true,
                autoplaySpeed: 4000,
                loop: true,
                mouseDrag: true,
                touchDrag: true,
                autoWidth: true,
            });



        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
