<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Maderna</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">

    <!-- Default Theme -->
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <img src="~/Content/images/Marco_Top.png" />
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

    </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("HOME", "Index", "Home", new { @class = "menulink" })</li>
                    <li>@Html.ActionLink("ABOUT", "About", "Home", new { @class = "menulink" })</li>
                    <li>@Html.ActionLink("PRODUCTS", "Products", "Home", new { @class = "menulink" })</li>
                    <li>@Html.ActionLink("CONTACT", "Contact", "Home", new { @class = "menulink" })</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>

    <div class="container body-content">
            @RenderBody()
        <footer>
            <img src="~/Content/images/Marco_Bottom.png" />
            <div class="grayfooter"><p>© Copyright 2014 • MADERNA, S.A. Todos los derechos reservados | Síguenos en <img src="~/Content/Images/fb_icon.png" /><img src="~/Content/Images/tw_icon.png" /><img src="~/Content/Images/yt_icon.png" /></p></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/owl.carousel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#owl-example").owlCarousel({
                items: 3,
                center: true,
                autoplayTimeout:1000,
                autoplayHoverPause: true,
                autoplay: true,
                autoplaySpeed: 4000,
                loop: true,
                mouseDrag: true,
                touchDrag: true,
                autoWidth: true,
            });

            

        });
    </script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
