@model Maderna.Models.Products
@using System.Linq


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="row">
            
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                        <br />
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                        <br />
                        <textarea class="form-control" rows="3" required></textarea>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Category, new { @class = "control-label" })
                        <br />
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                Select one.
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                @foreach (var item in Maderna.Models.Categories.GetAll())
                                {
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">@item.Name</a></li>
                                }
                            </ul>
                        </div>

                    </div>

                
            </div>
            <form action="~/Products/SaveDropzoneJsUploadedFiles" class="dropzone" id="dropzoneJsForm"></form>
            <div class="col-md-4">
                <form action="~/Products/SaveDropzoneJsUploadedFiles" class="dropzone" id="dropzoneJsForm"></form>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







